.normal {
    font-size: var(--body-copy);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 20px;
}

.imageLabel {
    transition: 0.5s all;
    position: relative;
}

.imageLabel:hover {
    transition: 0.5s all;
    transform: scale(0.95);
}

.label {
    color: var(--primary-color);
    padding: 32px;
    position: absolute;
    bottom: 0;
}
