.base {
    padding: 16px;
    border-radius: 32px;
    border: none;
    transition: all 0.5s;
    box-shadow: var(--small-box-shadow);
    font-size: var(--body-copy);
}

.base:hover {
    transform: scale(0.95);
    box-shadow: none;
}

.normalWhite {
    composes: base;
    background-color: var(--white-tone);
    color: var(--primary-color);
}

.normalPrimary {
    composes: base;
    background-color: var(--primary-color);
    color: var(--white-tone);
}

.outlineWhite {
    composes: base;
    background-color: transparent;
    color: var(--white-tone);
    border: 4px solid var(--white-tone);
}

.outlinePrimary {
    composes: base;
    background-color: transparent;
    color: var(--primary-color);
    border: 4px solid var(--primary-color);
}
