.normal {
    padding: 0 16px;
    flex: 1 0 auto;
    list-style-type: none;
    text-align: center;
    text-shadow: var(--small-text-shadow);
}

.normal a {
    color: var(--white-tone);
    text-decoration: none;
    font-size: var(--body-copy);
}

.normal:hover {
    text-shadow: 0 0 24px var(--white-tone);
}
