.normal {
    composes: t-white from "@globalStyles/color.module.css";
    padding: 32px;
    flex: 1 0 auto;
    list-style-type: none;
    text-align: center;
    text-shadow: var(--small-text-shadow);
}

.normal:hover {
    text-shadow: 0 0 24px var(--white-tone);
}
