.normal {
    padding: 24px 80px 0 56px;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
